.balance-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .balance-card__title {
        margin-bottom: 16px;
    }

    .balance-card__right-half {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        .balance-card__right-half__amount {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 8px;
        }
    }
}

.withdrawal {
    color: rgb(236, 51, 51)
}

.deposit {
    color: rgb(29, 230, 29)
}